<ion-view view-title="{{navTitle}}" hide-back-button="false" cache-view="false">


<!--
  <ion-nav-buttons side="left" >
        <a class="item-icon-right" href="#" style="text-decoration:none; width:120px; margin:0px; margin-top:3px; padding:0px; " ui-sref="app.basket()">
        	<img src="img/basketIcon.png" style="width:30px; float:left" />
        	<span class="" style="z-index:100; position:relative; top:5px; left:5px; color:#004d6e; font-weight:bold; width:70px; font-size:18px; float:left"> &#8362; {{BasketPrice}}</span>
  		</a>
  </ion-nav-buttons> 
-->

  <ion-content style="background-color:#f4f4f4">
  	<div class="PackageForm" align="center">
    	<div class="PackageFormDiv">
        	<input type="text" class="PackageFormText" placeholder="כתובת לאיסוף" g-places-autocomplete force-selection="true" options="autocompleteOptions" ng-model="fields.locationname" >
            
            


            
        
        
          
                <div  ng-click="saveAddress()" style="margin-top:20px;">
                    <img src="img/login.png" style="width:100%" />
                </div>
				

            </div>
			

			
        </div>

        
    </div>


  </ion-content>
  
  

		  
</ion-view>
