

<ion-view view-title="{{navTitle}}" hide-back-button="false" cache-view="false" style=" background-color:#ececec">

	 <ion-nav-buttons side="left" >
        <a class="item-icon-right" href="#" style="text-decoration:none; width:120px; margin:0px; margin-top:3px; padding:0px; " ui-sref="app.basket()">
        	<img src="img/basketIcon.png" style="width:30px; float:left" />
        	<span class="" style="z-index:100; position:relative; top:5px; left:5px; color:#004d6e; font-weight:bold; width:70px; font-size:18px; float:left"> &#8362; {{BasketPrice}}</span>
  		</a>
  </ion-nav-buttons> 
  <div class="bar bar-footer" style=" height:105px; width:100%; padding:0;" >
  <!--
  ui-sref="app.orderform()"
  -->
  		 <div ng-click="checkoutBtn()">
          	<div class="footerBasket">
            	<div class="footerBasketLeft">
                	&#8362; {{BasketPrice}}
                </div>
                <div class="footerBasketRight">
                	סה"כ
                </div>
            </div>
          	<img src="img/checkout.png" style="width:100%" />
         </div>
  </div>
  
  <ion-content style="background-color:#ececec">
  <div class="ListContent" align="center"> 
  <!--
  <div ng-click="showDetails()">
  test
  </div>
  -->
  
  <div ng-if="BasketArray.length == 0" align="center">
  <h3>סל קניות ריק יש להוסיף מוצרים לסל<h3>
  </div>
  
  
  <div class="ListRepeat"  ng-repeat="item in BasketArray  | filter:productsearch track by $index" >
    	<div class="itemRow">
        	<div class="addToCart" ng-click="changeCheckBox($index,item,1)">
            	<img src="img/trash.png"  style="width:37px; height:37px;" >
            </div>
            
        	<div class="itemCombo"   style="width:13%; margin-left:10px; text-align:right !important; background-color:blue !important;">
            
            <div class="item item-select" ng-if="!item.extras">
                    <select ng-model="item.quan" ng-change="AddBasket($index,item)">
                      <option ng-value="1">1</option>
                      <option ng-value="2">2</option>
                      <option ng-value="3">3</option>
					  <option ng-value="4">4</option>
					  <option ng-value="5">5</option>
                    </select>
   			</div>
            </div>
            <div class="infoCombo" ui-sref="app.details({Type: 'products', ItemId: item.index})">
            	<h3>{{item.name | stripslashes:true}}</h3>
                <p>מחיר : {{item.new_price}} ש"ח</p>
				<p class="extrasText" style="direction:rtl;" ng-if="checkExtras(item.extras)">תוספות: 
                	<span ng-repeat="array in item.extras" ng-if="array.isClicked == 1">
                		<span ng-if="$index != 0">,
                    	</span> {{array.name}} 
                    </span>
               </p>				
            </div>
            <div class="infoImage">
            	<img src="{{host}}/{{item.image}}" ng-click="ShowImageModal(item.image)" style="width:47px; height:47px;">
            </div>
           <!-- <div class="infoCheck">
            	<img src="img/uncheck.png" ng-if="item.isClicked == '0'" ng-click="changeCheckBox($index,item,0)" style="width:100%">
				<!--
				<img src="img/checked.png" ng-if="item.isClicked == '1'" ng-click="changeCheckBox($index,item,1)" style="width:100%">
				
				<i class="ion-trash-a" ng-if="item.isClicked == '1'" ng-click="changeCheckBox($index,item,1)" style="width:100%"></i>
		   </div>
            <div>
        		<img  src="img/line1.png" style="width:100%; margin-top:10px;" />
        	</div>-->
        </div>
	 </div>
<!--
<div class="list list-inset">
  <label class="item item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" placeholder="חיפוש מוצר" ng-model="productsearch" style="text-align:right; direction:rtl">
  </label>
</div>

<button class="button button-block button-positive" ng-if="BasketPrice > 0" ng-click="checkoutBtn()">
  תשלום
</button>

<div class="list card" ng-repeat="item in BasketArray | filter:productsearch">

  <div class="item item-avatar" style="margin-bottom:-50px;">
      <img src="{{host}}/{{item.image}}" ng-click="ShowImageModal(item.image)">
	  <input type="tel" ng-model="item.quan" ng-if="item.isClicked == '1'" ng-change="checkProductPrice()">

    <h2 style="text-align:right; direction:rtl;">{{item.name}}</h2>
	<p style="text-align:right; direction:rtl;" ng-if="item.manufacturer">יצרן : {{item.manufacturer}}</p>
	<p style="text-align:right; direction:rtl;">מחיר: <strike>{{item.old_price}}</strike> {{item.new_price}} &#8362;</p>
	 <p style="text-align:right; direction:rtl;" ng-bind-html="item.desc | cutString_TitlePage:true:60">

	 

<div style="float:left; top:-20px; left:-60px; position:relative; z-index:100;">
	
	
	<i class="button button-icon icon ion-trash-a" ng-click="deleteProduct($index)"></i>


</div>

	 
	 
	 
  </div>



</div>

-->

</div>
  </ion-content>
  
  
          <script id="image-modal.html" type="text/ng-template">
					<div style="width:100%;" align="center">
						<div class="modal image-modal transparent" ng-click="closeModal()" style="width:80%; margin-top:100px;">
							<ion-scroll zooming="true"  direction="xy" locking="false" has-bouncing="true" delegate-handle="zoom-pane" class="transparent" min-zoom="1" scrollbar-x="false" scrollbar-y="false">   
								<img ng-src="{{productImage}}" style="width:100%;">
							</ion-scroll>
						</div>
					</div>
          </script>

		  
</ion-view>
