<ion-view view-title="" hide-back-button="false" cache-view="false">

	 <ion-nav-buttons side="left" >
        <a class="item-icon-right" href="#" style="text-decoration:none; width:120px; margin:0px; margin-top:3px; padding:0px; " ui-sref="app.basket()">
        	<img src="img/basketIcon.png" style="width:30px; float:left" />
        	<span class="" style="z-index:100; position:relative; top:5px; left:5px; color:#004d6e; font-weight:bold; width:70px; font-size:18px; float:left"> &#8362; {{BasketPrice}}</span>
  		</a>
  </ion-nav-buttons> 
  
  <ion-content>

	<div class="list">
	  <label class="item item-input item-stacked-label">
		<span class="input-label">שם מלא</span>
		<input type="text" ng-model="fields.name">
	  </label>
	  <label class="item item-input item-stacked-label">
		<span class="input-label" >טלפון</span>
		<input type="tel" ng-model="fields.phone">
	  </label>
	  <label class="item item-input item-stacked-label">
		<span class="input-label" >אימייל</span>
		<input type="email" ng-model="fields.email">
	  </label>
	  <label class="item item-input item-stacked-label">
		<span class="input-label">תוכן הפנייה</span>
		<textarea rows="4" cols="50" ng-model="fields.remarks"></textarea>
	  </label>	  
	</div>
	
	<div class="padding">
        <button class="button button-block button-positive" ng-click="sendContact()">שליחה</button>
      </div>	

  </ion-content>
</ion-view>
