<ion-view view-title="{{navTitle}}" hide-back-button="false" cache-view="false">

	 <!-- <ion-nav-buttons side="left" >
        <a class="item-icon-right" href="#" style="text-decoration:none;" ng-click="goToBasket()">
        	<span class="badge badge-assertive" style="z-index:100; position:relative; left:20px;">{{BasketPrice}} &#8362;</span>
  		</a>
  </ion-nav-buttons> -->
	 <ion-nav-buttons side="left" >
        <a class="item-icon-right" href="#" style="text-decoration:none; width:120px; margin:0px; margin-top:3px; padding:0px; " ui-sref="app.basket()">
        	<img src="img/basketIcon.png" style="width:30px; float:left" />
        	<span class="" style="z-index:100; position:relative; top:5px; left:5px; color:#004d6e; font-weight:bold; width:70px; font-size:18px; float:left"> &#8362; {{BasketPrice}}</span>
  		</a>
  </ion-nav-buttons> 
  
  <!--
  ui-sref="app.basket()"
  -->
	<div class="bar bar-footer" style=" height:100px; width:100%; padding:0;" >
         <div style="width:100%" align="center">
                <div style="width:85%" ng-click="addCart(ProductData)">
                    <img src="img/invitbutton.png" style="width:100%" />
                </div>
   		 </div>
	</div>

  <ion-content class="has-subheader" style=" margin-top:-40px !important; margin-bottom:100px" >
  		 <div style="width:100%;" align="center">
            <div style="width:80%;" >
                <h4 style="font-weight:bold">{{ProductData.name | stripslashes:true}}</h4>
            </div>
            <div style="width:80%;">
            	<img src="{{host}}/{{ProductData.image}}" ng-click="ShowImageModal(ProductData.image)" style="width:100%; border:1px solid #cecece">
            </div>
            <div style="width:60%; overflow:hidden; margin-top:-10px;">
            	<div style="width:48%; float:right;">
            		<h4 class="detailsPrice" >{{ProductData.new_price}} <span>&#8362;</span></h4>
               </div>
               <div style="width:50%; float:left; margin-top:23px; margin-left:0px;">
            		<p style="float:right; text-align:right; direction:rtl; margin-left:5px; margin-top:5px;">כמות : </p>
                 <div class="item item-select" style="width:60px !important">
                        <select ng-model="ProductData.quan" ng-change="updateBasket(1)">
                          <option value="1" selected>1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                          <option value="5">5</option>
                        </select>
                </div>
               </div>
            </div>
             <div style="width:80%; direction:rtl; margin-top:-10px" >
                <h5 style="text-align:center"><span ng-if="ProductData.sku"> מק"ט: {{ProductData.sku | stripslashes:true}} </span><span ng-if="ProductData.sku && ProductData.manufacturer"> | </span> <span ng-if="ProductData.manufacturer">  יצרן: {{ProductData.manufacturer | stripslashes:true}} </h5>
				<!-- <h5 ng-if="ProductData.manufacturer" style="text-align:right; font-size:18px; font-weight:bold; margin-top:-7px">יצרן: {{ProductData.manufacturer | stripslashes:true}}</h5> -->
            	<h4 ng-bind-html="ProductData.desc | stripslashes:true" ></h4>
              </div>
              <div style="width:30%; direction:rtl;" >
                
             </div>
         </div>
   	
  
  
        <div class="mainInfo" >
			
			
			
        </div>


	 <div  ng-repeat="item in ProductData.packageProducts" ng-if="ProductData.package == 1">
    	<div class="itemRow">

            <div class="infoCombo" style="width:80%;">
            	<h3>{{item.productDetails[0].name | stripslashes:true}}</h3>
				<p>כמות : {{item.quan}}</p>
                <!-- <p>מחיר : {{item.new_price}} ש"ח</p> -->
            </div>
            <div class="infoImage">
            	<img src="{{host}}/{{item.productDetails[0].image}}" ng-click="ShowImageModal(item.productDetails[0].image)" style="width:100%">
            </div>
            <div>
        		<img  src="img/line1.png" style="width:100%; margin-top:10px;" />
        	</div>
        </div>
	 </div>

	<!-- <div style="width:100%" align="center">
    	<div style="width:80%">
        	<img src="img/invitbutton.png" style="width:100%" />
        </div>
    </div> -->

		
  </ion-content>
  
  <script id="image-modal.html" type="text/ng-template">
            <div style="width:100%;" align="center">
                <div class="modal image-modal transparent" ng-click="closeModal()" style="width:80%; margin-top:100px;">
                    <ion-scroll zooming="true"  direction="xy" locking="false" has-bouncing="true" delegate-handle="zoom-pane" class="transparent" min-zoom="1" scrollbar-x="false" scrollbar-y="false">   
                        <img ng-src="{{productImage}}" style="width:100%;">
                    </ion-scroll>
                </div>
            </div>
  </script>

		  
</ion-view>
