<ion-view view-title="{{navTitle}}" hide-back-button="false" cache-view="false">
	
	 <ion-nav-buttons side="left" >
        <a class="item-icon-right" href="#" style="text-decoration:none; width:120px; margin:0px; margin-top:3px; padding:0px; " ui-sref="app.basket()">
        	<img src="img/basketIcon.png" style="width:30px; float:left" />
        	<span class="" style="z-index:100; position:relative; top:5px; left:5px; color:#004d6e; font-weight:bold; width:70px; font-size:18px; float:left"> &#8362; {{BasketPrice}}</span>
  		</a>
  </ion-nav-buttons> 

  <ion-content style="background-color:#f4f4f4">
	
    	<div class="PackageForm"  align="center">
    	<div class="PackageFormDiv">
		<!--
        	<input type="text" class="PackageFormText" placeholder="כתובת לאיסוף" g-places-autocomplete force-selection="true" options="autocompleteOptions" ng-model="fields.pickup" ng-blur="pickupData()">
        -->
            <input type="text" class="PackageFormText" placeholder="לאן לשלוח" g-places-autocomplete force-selection="true" options="autocompleteOptions" ng-model="fields.dest" ng-blur="destData()" >
       <!--     
            <input type="text" class="PackageFormText" placeholder="סוג משלוח" g-places-autocomplete force-selection="true" options="autocompleteOptions" ng-model="fields.deliverytype" ng-blur="destData()" >
       --> 
        

        </div>

        
    </div>
    
	<div class="padding">
        <button ng-if="fields.dest" class="button button-block button-calm" ng-click="shopsBtn()">המשך</button>	
        <button ng-if="loginStatus" class="button button-block button-positive" ng-click="LoginBtn()">התחברות</button>
		
      </div>


  </ion-content>
  
  
          <script id="image-modal.html" type="text/ng-template">
					<div style="width:100%;" align="center">
						<div class="modal image-modal transparent" ng-click="closeModal()" style="width:80%; margin-top:100px;">
							<ion-scroll zooming="true"  direction="xy" locking="false" has-bouncing="true" delegate-handle="zoom-pane" class="transparent" min-zoom="1" scrollbar-x="false" scrollbar-y="false">   
								<img ng-src="{{productImage}}" style="width:100%;">
							</ion-scroll>
						</div>
					</div>
          </script>

		  
</ion-view>
