<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title">תפריט</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list style="text-align:right;">
	  

        <ion-item menu-close href="#/app/address">
          ראשי
        </ion-item>
        <ion-item menu-close href="#/app/packageform">
          חבילות ומשלוחים
        </ion-item>
        <ion-item menu-close href="#/app/products">
          SEND 10
        </ion-item>
        <ion-item menu-close href="#/app/shops">
          מזון מהיר
        </ion-item>
        <ion-item menu-close href="#/app/specialrequests">
          בקשות מיוחדות
        </ion-item>
        <ion-item menu-close href="#/app/packages">
          מבצעים
        </ion-item>
        <ion-item menu-close href="#/app/about">
          אודות
        </ion-item>
        <ion-item menu-close href="#/app/contact">
          צור קשר
        </ion-item>
        <ion-item menu-close href="#/app/orders" ng-if="userId">
          אזור אישי
        </ion-item>	
        <ion-item menu-close href="#/app/delivery" ng-if="userStatusId == 1">
         ניהול משלוחים
        </ion-item>				
        <ion-item menu-close href="#/app/admin" ng-if="userStatusId == 3">
          ניהול הזמנות
        </ion-item>		
		
        <ion-item menu-close href="#" ng-click="LogOut()" ng-if="userId">
          התנתקות
        </ion-item>
      </ion-list>
	  
	  <div align="center" ng-if="userStatus">
	  <p>שלום : {{loggedinFullName}}</p>
	  <p>סוג משתמש: {{userStatus}}</p>
	  </div>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
