<ion-view view-title="{{navTitle}}" hide-back-button="false" cache-view="false">

	 <ion-nav-buttons side="left" >
        <a class="item-icon-right" href="#" style="text-decoration:none; width:120px; margin:0px; margin-top:3px; padding:0px; " ui-sref="app.basket()">
        	<img src="img/basketIcon.png" style="width:30px; float:left" />
        	<span class="" style="z-index:100; position:relative; top:5px; left:5px; color:#004d6e; font-weight:bold; width:70px; font-size:18px; float:left"> &#8362; {{BasketPrice}}</span>
  		</a>
  </ion-nav-buttons> 
  
  
  <ion-content>

	<div class="list">
	  <label class="item item-input">
		<span class="input-label">שם מלא</span>
		<input type="text" ng-model="register.name">
	  </label>
	  <label class="item item-input">
		<span class="input-label">כתובת</span>
		<input type="text" ng-model="register.address">
	  </label>
	  <label class="item item-input">
		<span class="input-label">טלפון</span>
		<input type="tel" ng-model="register.phone">
	  </label>
	  
	  <label class="item item-input">
		<span class="input-label">אימייל</span>
		<input type="email" ng-model="register.email">
	  </label>
	  
	  <label class="item item-input">
		<span class="input-label">סיסמה</span>
		<input type="password" ng-model="register.password">
	  </label>
	  
	</div>

	<div class="padding">
        <button class="button button-block button-positive" ng-click="RegisterBtn()">הרשמה</button>


      </div>


  </ion-content>
</ion-view>
