.transparent {
  background: transparent !important;
}

.title-image
{
	width:650px;
}

.bar-header {
    border: 0px !important;
    border-bottom-color: transparent !important;
    background-image: none !important;
    border-bottom: none !important;
}

.bar { background-image: none !important; color:#efefef !important }

.image-modal {
  width: 100% !important;
  height: 100%;
  top: 0 !important;
  left: 0 !important;
}

.fullscreen-image {
  max-width: 100%;
  max-height: 100%;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
}


/* Package Page*/

.ListContent
{
	width:100%;
	background-color:#ececec;
}

.ListRepeat
{
	width:96%;
	background-color:#fff;
}

.addToCart
{
	float:left;
	width:9%;
	margin-top:5px;
}

.addToCart
{
	float:left;
	width:9%;
	margin-top:5px;
}

.addToCart1
{
	float:left;
	width:9%;
	margin-top:5px;
}

.itemRow
{
	width:100%;
	padding:3px;
	overflow:hidden;
	margin-bottom:2px;
	padding-top:8px;
}

.itemCombo
{
	width:15%;
	float:left;
	margin-left:5px;
	margin-top:7px;
}

.infoCombo
{
	text-align:right;
	width:56%;
	float:left;	
}

.infoCombo h3
{
	color:#343434;
	font-weight:bold;
	font-size:16px;
}

.infoCombo p
{
	color:#004d6e;
	font-size:16px;
	font-weight:bold;
	margin-top:-5px;
}



.infoImage
{
	margin-left:3%;
	width:15%;
	float:left;
}

.infoImage img
{
	border:1px solid #ececec
}

.infoCheck
{
	margin-left:3%;
	width:6%;
	float:left;
	margin-top:15px;
}

.detailsPrice
{
	margin-top:10px;
	font-size:47px;
	direction:rtl;
	color:#323232;
}

.detailsPrice span
{
	font-size:15px;
	color:red;
}


.extrasText
{
	font-size:14px;
	font-weight:400;
}












/* Fix modal backdrop for smaller devices */
@media (max-width: 679px) {
  .active .modal-backdrop-bg {
    opacity: .5;
  }
  .modal-backdrop-bg {
    -webkit-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
    background-color: #000;
    opacity: 0;
  }
}

/* Toogle Class */

.toogle
{
	overflow:hidden;
	background-color:#f4f4f4;
	font-size:30px;
	padding:10px;
}

.tooglLeft
{
	width:60%;
	float:left;
	margin-left:30px;
	margin-top:3px;
}

.tooglRight
{
	width:40%;
	float:right;
}


.NonActiveCircleToogle
{
	float:right;
	width:30%;
}

.NonActiveCircleToogle div
{
	width:38px;
	border-radius:50%;
	background-color:#fff;
	height:35px;
	margin:0px;
	margin-top:0px;
	margin-bottom:0px;
	
	-moz-box-shadow: 0 0 3px #999;
	 -webkit-box-shadow: 0 0 3px #999;
     box-shadow: 0 0 3px #999;
}



.ActiveCircleToogle
{
	float:right;
	width:30%;
}

.ActiveCircleToogle div
{
	width:38px;
	border-radius:50%;
	background-color:#ff7b00;
	height:35px;
	margin:0px;
	margin-top:0px;
	margin-bottom:0px;
	
	-moz-box-shadow: 0 0 3px #999;
	 -webkit-box-shadow: 0 0 3px #999;
     box-shadow: 0 0 3px #999;
}



.lineToogle
{
	margin-top:-5px;
}

.FooterToogle
{
	font-size:35px !important;
	color:white;
	font-size:bold !important;
	margin-top:10px !important;
	font-family:Tahoma, Geneva, sans-serif;
}

.ToogleHeaderTitle
{
	font-size:25px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	margin-top:5px;
	z-index:100;
	left:0px;
	position:relative;
	width:100%;
	text-align:center;
	
}


.SearchTable
{
	direction:rtl;
	padding:5px;
	text-align:center;
	font-size:16px;
}

.SearchTable td
{
	padding:10px;
	padding-top:7px;
}

.TDsearch
{
	margin-left:10px;
	color:#555555;
	font-weight:bold;
}

.TDtype
{
	color:#a9a9a9;
}

.TDtypeActive
{
	background-color:#dc5353;
	color:white;
	border-radius:3px;
}


.itemSelectedBox
{
	color:black !important; 
	background-color:#efefef !important;
	margin-left:0px;
	border:none !important;
}


.item-select select 
{
    -moz-appearance: none;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    padding: 0px 45px 0px 0px;
    max-width: 100%;
    border: medium none;
    background: #FFF none repeat scroll 0% 0%;
    color: #333;
    text-indent: 0.01px;
    text-overflow: "";
    white-space: nowrap;
    font-size: 14px;
    cursor: pointer;
    direction: ltr;
	padding-right:30px;
}


.mainInfo
{
	text-align:right;
	direction:rtl;
	padding:10px;
	padding-left:30px;
}

.mainInfo h3
{
	font-size:16px;
	font-weight:bold;
	color:#dc5353;
}

.mainInfo h4
{
	font-size:14px;
	color:#dc5353;
	line-height:1.4;
}

/* tabs */

	.tabsDiv
	{
		overflow:hidden;
		width:100%;
		margin-top:0px;
		position:relative;
		padding:10px;
	}
	
	.tabsActive
	{
		float:right;
		width:50%;
		font-size:16px;
		color:#333;
		text-align:center;
		padding:10px;
		border-bottom:1px solid #900;
	}
	
	.tabsNotActive
	{
		float:right;
		width:50%;
		font-size:16px;
		color:#CCC;
		border-bottom:1px solid #CCC;
		text-align:center;
		padding:10px;
	}
	
	
	/* Basket Page*/
	.footerBasket
	{
		background-color:#195e7c;
		padding:3px;
		width:100%;
		overflow:hidden;
		direction:rtl;
		font-weight:bold;
		font-size:18px;
		padding-top:5px;
	}
	
	.footerBasketLeft
	{
		text-align:left;
		margin-left:50px;
		color:white;
		width:30%;
		float:left;
	}
	
	.footerBasketRight
	{
		float:right;
		text-align:right;
		margin-right:50px;
		color:white;
		width:30%;
	}
	
	/* PackageForm Page*/
	
	.PackageForm
	{
		width:100%;
		background-color:#f4f4f4;
		margin-top:20px;
	}
	
	.PackageFormDiv
	{
		width:85%;
		margin-top:10px;
		text-align:right;
	}
	
	.PackageFormText
	{
		margin-top:15px;
		text-align:right;
		background-color:white;
		width:100%;
		padding:8px;
		padding-top:12px !important;
		font-size:16px !important;
		padding-right:20px;
		
	}
	
	.inviteButtons
	{
		overflow:hidden;
		width:100%;
		margin-top:15px;
	}
	
	.inviteButtonsLeft
	{
		float:left;
		width:49%;
	}
	
	.inviteButtonsRight
	{
		float:right;
		width:49%;
	}
	
	.invitePay
	{
		background-color:white;
		font-size:25px;
		color:#004d6e;
		padding:40px 10px 32px 10px;
		font-weight:bold;
		direction:rtl;
		overflow:hidden;
		width:100%;
		margin-top:15px;
	}
	
	.invitePayLeft
	{
		float:left;
		width:49%;
	}
	
	.invitePayRight
	{
		float:right;
		width:49%;
	}
	
	.invitePayButtons
	{
		overflow:hidden;
		width:100%;
	}
	
	.invitePayButtonsLeft
	{
		float:left;
		width:50%;
	}
	
	.invitePayButtonsRight
	{
		float:right;
		width:50%;
	}
	
	.popup-title	
	{
		direction:rtl;
	}
	.custom-popup.popup-container .popup {
	  width:90%;
	}	
	